---
import Container from "../elements/Container.astro";
import Section from "../elements/Section.astro";

const img = {
    logo: `${Astro.site}/images/icon-evolutif-way.svg`,
    step1: `${Astro.site}/images/steps-1.png`,
    step2: `${Astro.site}/images/steps-2.png`,
    step3: `${Astro.site}/images/steps-3.png`,
    step4: `${Astro.site}/images/steps-4.png`,
};
---

<Section id="evolutif" class="mb-10">
    <Container>
    
        <div class="flex items-center justify-center gap-6 mb-32">
            <img 
                src={img.logo} 
                alt=""
                class="h-20 w-auto">
            <h4 class="tracking-[6px] text-3xl font-light">
                The Evolutif way
            </h4>
        </div>


        <div class="flex justify-center gap-10">
            <div class="flex relative max-w-[300px]">
                <div class="absolute top-0 left-0 z-0">
                    <img 
                        src={img.step1}  
                        alt=""
                        class="w-40 h-auto">
                </div>
                <div class="mt-32 pt-4 ml-14 z-10">
                    <h4 class="text-brand-primary text-xl font-display font-bold mb-3">
                        Data-Driven Insight
                    </h4>
                    <p class="font-display font-light text-base leading-relaxed">
                        We turn numbers into powerful strategies that unlock growth opportunities.
                    </p>
                </div>
            </div>

            <div class="flex relative max-w-[300px]">
                <div class="absolute top-0 left-0 z-0">
                    <img 
                        src={img.step2}
                        alt=""
                        class="w-40 h-auto">
                </div>
                <div class="mt-32 pt-4 ml-14 z-10">
                    <h4 class="text-brand-primary text-xl font-display font-bold mb-3">
                        Trust as a Core Value
                    </h4>
                    <p class="font-display font-light text-base leading-relaxed">
                        Long-term success is built on transparency, integrity, and strong relationships.
                    </p>
                </div>
            </div>

            <div class="flex relative max-w-[300px]">
                <div class="absolute top-0 left-0 z-0">
                    <img 
                        src={img.step3}
                        alt=""
                        class="w-40 h-auto">
                </div>
                <div class="mt-32 pt-4 ml-14 z-10">
                    <h4 class="text-brand-primary text-xl font-display font-bold mb-3">
                        Creative Agility
                    </h4>
                    <p class="font-display font-light text-base leading-relaxed">
                        Solving complex problems relationships.
                    </p>
                </div>
            </div>

            <div class="flex relative max-w-[300px]">
                <div class="absolute top-0 left-0 z-0"> 
                    <img 
                        src={img.step4}
                        alt=""
                        class="w-40 h-auto">
                </div>
                <div class="mt-32 pt-4 ml-14 z-10">
                    <h4 class="text-brand-primary text-xl font-display font-bold mb-3">
                        Scalable by Design
                    </h4>
                    <p class="font-display font-light text-base leading-relaxed">
                        Building solutions today that can thrive on a global stage tomorrow.
                    </p>
                </div>
            </div>
        </div>
    
    </Container>
</Section>